<h1>会員トップ</h1>
<h2>Public::Homes#top</h2>
<p>Find me in app/views/public/homes/top.html.erb</p>

<section id="user-top">
  <div class="user-top">
    <!--フラッシュメッセージ-->
    <%= flash[:notice] %>
  </div>
</section>
