<h1>公園詳細</h1>
<section id="user-park-show">
  <div class="user-park-show">
    <h2><%= @park.park %></h2>
    <p><%= @park.address %></p>
    <%= link_to '編集する', edit_park_path  %>
  </div>
</section>
