//---------------
// 定義
//---------------
@charset "UTF-8";

// レスポンシブ 
$tab: 960px;
$sp: 600px;

@mixin tab{
  @media(max-width:($tab)){
    @content;
  }  
}
@mixin sp{
  @media(max-width:($sp)){
    @content;  
  }  
}

// 色
$white: rgb(255,255,255);
$footerColor: rgb(51,23,0);

//---------------
// 共通
//---------------
body{
  margin: 0;
  font-size: 100%;

}
h1,h2,h3,p,ul{
  margin: 0;
}
h1{
  font-size: 3rem;
  text-align: center;
  transform: translateY(-180px);
}
ul,ol{
  margin: 0;
  padding-left: 0;
  li{
    list-style-position: inside;  
  }  
}
li{
  list-style: none;
}
img{
  width: 100%;
  vartical-align: bottom;
}


//---------------
// ヘッダー
//---------------
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 150vw;
  height: 300px;
  border-radius: 50%;
  background: $white;
  transform: translate(-16.7%,-180px);
  // opacity: .4;
  .sun{
    width: 120px;  
    transform: translate(calc(25vw + 40px),180px);
    img{
      transition: .3s;
      &:hover{
        transform: rotate(15deg);
        transition: .3s;
      }
    }
  }
  .logo{
    width: 160px;
    transform: translate(calc(75vw - 50%),50px);
    img{
      border-radius: 50%;
      transition: .3s;
      // outline: 5px solid black;
      &:hover{
        transform: scale(1.1);
       transition: .3s;
      }
    }
  }
  li{
    display: inline-block;
    transform: translate(calc(100vw - 100px),-100px);
    outline: 5px solid black;
  }
}


//------------------
// メイン
//------------------
main{
  overflow: hidden;
  .title{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    outline: 2px solid black;
    img{
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .contents{
    padding: 40px;
    @include sp{
      padding: 15px;  
    }
    .wrapper{
      max-width: 1080px;  
      margin: 0 auto;
      outline: 2px solid red;
      section{
        border: 2px solid black;
        border-radius: 20px;
        margin-top: -50px;
      }
    //-----------
    // 会員側
    //-----------
      //新規会員登録,ログイン
      .login{
        .login-content{
          width: 100%;
          max-width: 480px;
          margin: 0 auto;
          padding: 40px;
          outline: 2px solid green;
          form{
            .field{
              width: 200px;
              margin: 0 auto 10px;
              label{
                font-size: 1.25rem;
              }
              input{
                width: 200px;
                font-size: 1.25rem;
              }
              // outline: 2px solid blue;
            }
            .rule{
              // outline: 2px solid green;
              p{
                font-size: 1.25rem;  
              }
              ol{
                width: 480px;
                height: 120px;
                padding: 5px;
                border: 2px solid black;
                border-radius: 5px;
                overflow: scroll;
                li{
                  list-style-type: decimal;
                }    
              }
            }
            .actions{
              outline: 2px solid orange;
              input{
                display: block;
                width: 200px;
                padding: 5px 0;
                margin: 20px auto; 
                cursor: pointer;
                outline: 2px solid skyblue;  
              }
            }
          }
          .login-bottom{
            outline: 2px solid purple;
            .page-link{
              float: right;
              outline: 2px solid brown;;
            }
          }
        }  
      }
      //マイページ
      .user{
        .user-show{
          width:400px;
          margin: 0 auto;
          outline: 2px solid green;
          ul{
            li{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 10px;
              h3,label{
                font-size: 1.25rem;
                font-weight: bold;
              }
              .text{
                font-size: 1.25rem;
                width: 200px;
              }
              img{
                // display: block;
                width: 120px;
                height: 120px;
                margin: 5px;
                border-radius: 50%;
                outline: 2px solid blue;
              }
            }
            
          }
          
        }
      }
      // 公園一覧
      #user-park-index{
        .new-park{
          outline: 2px solid green;
        }
        .parks-list{
          outline: 2px solid orange;
          ul{
            li{
              margin-bottom: 10px;
              border: 2px solid black;
              border-radius: 10px;
              a{
                display: flex;
                .left{
                  img{
                  width: 150px;
                  }       
                }
                .right{
                  width: calc(100% - 150px);
                  padding-left: 20px;
                  outline: 2px solid green;
                }
              }       
            }  
          }
        }
      }
      // 公園詳細・編集
      .user-park{
        .user-park-show{
          outline: 4px solid purple;
          .top-image{
            display: flex;
            justify-content: center;
            outline: 4px solid green;
            img{
              width: 100%;
              max-width: 400px;
              @include sp{
                max-width: 300px;
              }
            }
          }
          .reviews{
            outline: 2px solid green;
            img{
              width: 100px;  
            }
          }
          
        }  
      }
    //-----------
    // 管理者側
    //-----------  
      // 会員一覧
      #admin-index{
        .admin-index{
          table{
            width: 100%;
            border-collapse: collapse;
            border-color: black; 
            th{
              border: 2px solid black;
            }
            tr{
              margin-bottom: 20px;
              border: 2px solid black;
              border-radius: 10px;
              
              td{
                text-align: center;
                border: 2px solid black;
                img{
                  width: 50px;  
                }         
              }
            }           
          }
        }
      }
      #admin-show{
          img{
            width: 100px;  
          }
        }
    }
  }
}
// to-topボタン
#to-top{
  position: fixed;
  // bottom: 210px;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  // outline: 2px solid brown;
  .to-top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    // outline: 4px solid black;
    img{
      display: block;
      width: 80px;
      // outline: 2px solid purple;
    }
    span{
      display: block;
      color: lightgreen;
      // outline: 2px solid red;
    }
    
  }
}
#to-top.scrolled{
  opacity: 1; 
  pointer-events: auto;
}
//----------------
// フッター
//----------------
footer{
  position: relative;
  overflow: hidden;
  // outline: 4px solid blue;
  .bottom{
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150vw;
    height: 300px;
    background: $white;
    border-radius: 50%;
    // transform: translate(-16.7%,150px);
    // outline: 2px solid red;
  }
  .footer-contents{
    width: 100%;
    height: 325px;
    background: $footerColor;
    nav{
      width: 100%;
      height: 275px;
    }
    small{
      display: block;
      padding: 10px 0;
      color: $white;
      text-align: center;  
    }
  }
}