//---------------
// 定義
//---------------
@charset "UTF-8";

// レスポンシブ 
$tab: 960px;
$sp: 600px;

@mixin tab{
  @media(max-width:($tab)){
    @content;
  }  
}
@mixin sp{
  @media(max-width:($sp)){
    @content;  
  }  
}

// 色
$white: rgb(255,255,255);
$footerColor: rgb(51,23,0);

//---------------
// 共通
//---------------
body{
  margin: 0;
  font-size: 100%;

}
h1,h2,h3,p,ul{
  margin: 0;
}
h1{
  font-size: 3rem;
  text-align: center;
  transform: translateY(-180px);
}
li{
  list-style: none;
}
img{
  width: 100%;
  vartical-align: bottom;
}


//---------------
// ヘッダー
//---------------
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 150vw;
  height: 300px;
  border-radius: 50%;
  background: $white;
  transform: translate(-16.7%,-180px);
  // opacity: .4;
  .sun{
    width: 120px;  
    transform: translate(calc(25vw + 40px),180px);
  }
  .logo{
    width: 160px;
    transform: translate(calc(75vw - 50%),50px);
    img{
      border-radius: 50%;
      // outline: 5px solid black;
    }
  }
  li{
    display: inline-block;
    transform: translate(calc(100vw - 100px),-100px);
    outline: 5px solid black;
  }
}


//------------------
// メイン
//------------------
main{
  overflow: hidden;
  .title{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    outline: 2px solid black;
    img{
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .contents{
    padding: 40px;
    @include sp{
      padding: 15px;  
    }
    .wrapper{
      max-width: 1080px;  
      margin: 0 auto;
      outline: 2px solid red;
      
      // 会員側
      
      //マイページ
      #user-show{
        .user-show{
          h3{
            color: red;
          }
          img{
            width: 150px;
            height: 150px;
            border-radius: 50%;
            outline: 2px solid blue;
          }  
        }
      }
      // 管理者側
      
      // 会員一覧
      #admin-index{
        .admin-index{
          table{
            border-collapse: collapse;
            border-color: black;
            width: 100%;
            th{
              border: 2px solid black;
            }
            tr{
              margin-bottom: 20px;
              border: 2px solid black;
              border-radius: 10px;
              
              td{
                text-align: center;
                border: 2px solid black;
                img{
                  width: 50px;  
                }         
              }
            }           
          }
        }
      }
      #admin-show{
          img{
            width: 100px;  
          }
        }
    }
  }
}
//----------------
// フッター
//----------------
footer{
  position: relative;
  overflow: hidden;
  // outline: 4px solid blue;
  .bottom{
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150vw;
    height: 300px;
    background: $white;
    border-radius: 50%;
    // transform: translate(-16.7%,150px);
    // outline: 2px solid red;
  }
  .footer-contents{
    width: 100%;
    height: 400px;
    background: $footerColor;
    nav{
      width: 100%;
      height: 350px;
    }
    small{
      display: block;
      padding: 10px 0;
      color: $white;
      text-align: center;  
    }
  }
}