/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */



//---------------
// 定義
//---------------
@charset "UTF-8";

// レスポンシブ 
$tab: 976px;
$sp: 680px;

@mixin tab{
  @media(max-width:($tab)){
    @content;
  }  
}
@mixin sp{
  @media(max-width:($sp)){
    @content;  
  }  
}

// 色
$white: #fff;
$brown: #7c4d25;
$lightgreen: #c9d439;
// $green: #9eb11e;
$darkbrown: rgb(90,15,0);
$brown: #7c4d25;
$skyblue: #d6f4ff;
$orange: #faa61a;
$black: rgb(40,40,40);
$gray: rgb(150,150,150);
$lightgray: rgb(220,220,220);
$blue: #0076ba;

//---------------
// 共通
//---------------
body{
  margin: 0;
  font-size: 100%;
  box-sizing: border-box;
}
h1,h2,h3,p,ul{
  margin: 0;
}
h1{
  font-family: 'RocknRoll One', sans-serif;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
  transform: translateY(-180px);
  // transform: translateY(-120px);
  @include sp{
    font-size: 2.25rem;
    transform: translateY(-130px);
    // transform: translateY(-70px);
  }
}
ul,ol{
  margin: 0;
  padding-left: 0;
  li{
    list-style-position: inside;  
  }  
}
li{
  list-style: none;
}
a{
  text-decoration: none;  
}
img{
  width: 100%;
  vertical-align: bottom;
}
// リンク用のボタン
.link-button{
  display: inlne-block;
  padding: 5px;
  color: $black;
  background: pink;
  border-radius: 5px;
  box-shadow: 2px 2px $gray;
  &:active{
    transform: translate(2px,2px); 
    box-shadow: none;
  }
}

// 送信用のボタン
.submit-button{
  font-size: 1.125rem;
  background: $orange;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px $gray;
  &:active{
    transform: translate(2px,2px);
    box-shadow: none;
  }
}
.body-wrapper{
  overflow-x: hidden;
}

//---------------
// ヘッダー
//---------------
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 150vw;
  height: 300px;
  border-radius: 50%;
  background: $white;
  box-shadow: 0 1px 2px $skyblue;
  transform: translate(-16.7%,-180px);
  @include tab{
    top: -20px;
  }
  @include sp{
    top: -40px;
    border-radius: 0;
  }
  .header-content{
    position: relative;
    width: 100%;
    height: 100%;
    // outline: 10px solid orange;
    .sun{
      position: absolute;
      top: 180px;
      left: calc(25vw + 40px);
      z-index: 10;
      width: 120px;  
      @include tab{
        top: 200px;
        left: calc(25vw + 20px);
        width: 90px; 
      }
      @include sp{
        top: 230px;
        left: calc(25vw + 10px);
        width: 60px;
      }
      img{
        transition: .3s;
        &:hover{
          transform: rotate(10deg);
          transition: .3s;
        }
      }
    }
    .logo{
      position: absolute;
      top: 180px;
      left: calc(75vw - 80px);
      z-index: 10;
      width: 160px;
      @include tab{
        top: 210px;
        left: calc(75vw - 50px);
        width: 100px;
      }
      img{
        border-radius: 50%;
        transition: .3s;
        // outline: 5px solid black;
        &:hover{
          transform: scale(1.05);
          transition: .3s;
        }
      }
    }
    .bird{
      position: absolute;
      top: 180px;
      right: calc(25vw + 40px);
      width: 120px;
      @include tab{
        top: 200px;
        right: calc(25vw + 20px);
        width: 90px;
      }
      @include sp{
        display: none;
      }
      img{
        transition: .3s;
        &:hover{
          transform: rotate(-10deg);
          transition: .3s;
        }
      }
    }
    .pc{
        position: absolute;
        top: 200px;
        left: calc(25vw + 200px);
        width: calc(66.7% - 400px);
        // outline: 6px solid blue;
        @include tab{
          top: 220px;
          left: calc(25vw + 120px);
          width: calc(66.7% - 240px);
        }
        @include sp{
          display: none;  
        }
      ul{
        display: flex;
        width: 100%;
        // outline: 4px solid green;
        li{
          position: absolute;
          top: 0;
          width: 120px;
          transition: .3s;
          // outline: 2px solid black;
          &:hover{
            transform: scale(1.075);
            transition: .3s;
          }
          @include tab{
            width: 100px;  
          }
          a{
            display: block;
            // outline: 2px solid red;
            .circle-btn{
              width: 70px;
              height: 70px;
              background: $orange;
              border-radius: 50% 70% 50% 80%;
              @include tab{
                width: 50px;
                height: 50px;
              }
            }
            p{
              position: absolute;
              top: 50%;
              left: 10%;
              display: block;
              font-family: 'RocknRoll One', sans-serif;
              font-size: 1.25rem;
              color: $brown;
              transform: translateY(-50%);
              // outline: 2px solid purple;
              @include tab{
                left: 10%;
                font-size: 1.125rem; 
              }
              @include sp{
              }
            }
          }
        }
        li:nth-of-type(n + 3){
          width: 120px;
          @include tab{
            width: 100px;  
          }
          .circle-btn{
            border-radius: 80% 50% 70% 50%;
          }
          p{
            left: 10%;
          }
        }
        li:first-of-type{
          left: 0;
          .circle-btn{
            background: $skyblue;  
          }  
        }
        li:nth-of-type(2){
          left: calc(20% - 10px);
          .circle-btn{
            background: $orange;  
          }  
        }
        li:nth-of-type(3){
          right: calc(20% - 15px);
          .circle-btn{
            background: pink;  
          }  
        }
        li:nth-of-type(4){
          right: -30px;
          .circle-btn{
            background: $lightgreen;  
          }  
        }
      } 
    }
    #hamburger{
      display: none;
      position: absolute;
      top: 230px;
      right: calc(25vw + 10px);
      z-index: 10;
      width: 48px;
      height: 60px;
      // border-radius: 50%;
      border-radius: 80% 80% 80% 80% / 100% 100% 65% 65%;
      border-top-color: red;
      cursor: pointer;
      box-shadow: 0 4px 8px gray;
      // outline: 4px solid red;
      @include sp{
        display: block;  
      }
      .hamburger{
        position: relative;
        width: 100%;
        height: 100%;
        span{
          position: absolute;
          left: 7.2px;
          width: 70%;
          height: 6px;
          border-radius: 3px;
          background: $brown;
          transition: .3s;
        }
        span:first-of-type{
          top: 15px;
        }
        span:nth-of-type(2){
          top: calc(50% - 3px);
        }
        span:last-of-type{
          bottom: 15px;
        }
      }
    }
    #hamburger.rotate{
      .hamburger{
        span:first-of-type{
          transform: translateY(12px) rotate(45deg);
          transition: .3s;
        }
        span:nth-of-type(2){
          opacity: 0;
          transition: .3s;
        }
        span:last-of-type{
          transform: translateY(-12px) rotate(-45deg);
          transition: .3s;
        }
      }
    }
    .sp{
      display: none;
      position: absolute;
      top: -150px;
      left: calc(25vw);
      z-index: -10;
      width: 100vw;
      background: $white;
      opacity: 0;
      transition: .3s;
      // outline: 4px solid red;
      @include sp{
        display: block;  
      }
      ul{
        li{
          display: block;
          width: 100%;
          // outline: 2px solid black;
          a{
            display: block;
            width: 100%;
            padding: 15px;
            font-size: 2.5rem;
            font-family: 'RocknRoll One', sans-serif;
            color: $brown;
            transition: .3s;
            // outline: 4px solid red;
            &:hover{
              background: rgba(150,150,150,.4);
              transition: .3s;
            }
          }
        }
      }
    }
    .sp.slide{
      opacity: 1;
      transform: translateY(450px);
      transition: .3s;
    }
  }
}

//------------------
// メイン
//------------------
main{
  // overflow: hidden;
  .title{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    // outline: 2px solid black;
    @include tab{
      height: 300px;  
    }
    @include sp{
      height: 250px;  
    }
    .mainvisual{
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .tori{
      position: absolute;
      bottom: 25%;
      left: 10%;
      width: 80px;
      animation: 2s infinite tri;
      @keyframes tri{
        0%{
          transform: rotate(4deg);  
        }
        25%{
          transform: none; 
        }
        50%{
          transform: rotate(-4deg);
        }
        75%{
          transform: none;
        }
        100%{
          transform: rotate(4deg);  
        }
      } 
    }
  }
   // トップページ
  #home-top{
    // outline: 2px solid red;
    .home-top{
      // outline: 2px solid red;
      .subtitle{
        margin-bottom: 40px;
        // outline: 2px solid blue;
        h2{
          padding-bottom: 5px;
          text-align: center;
          color: $darkbrown; 
        }
        .border{
          display: block;
          width: 0;
          max-width: 640px;
          height: 6px;
          margin: 0 auto;
          background: $lightgreen;
          border-radius: 30%;
          transition: .8s;
        }
        .border.appear{
          transition: .8s;
          width: 100%;  
        }
      }
      .description{
        position: relative;
        width: 100%;
        max-width: 640px;
        margin: 0 auto 80px;
        // outline: 2px solid green;
        .butterfly{
          // display: none;
          position: absolute;
          top: 40%;
          left: -140px;
          width: 80px;
          // transform: rotate(-5deg);
          animation: 2s infinite butterfly;
          @keyframes butterfly{
            0%{
              transform: rotate(3deg);  
            }
            25%{
              transform: none; 
            }
            50%{
              transform: rotate(-3deg);
            }
            75%{
              transform: none;
            }
            100%{
              transform: rotate(3deg);  
            }
          }  
          // outline: 2px solid blue;
          @include tab{
            top: -20px;
            left: 20px;
            width: 48px;  
          }
          @include sp{
            width: 40px; 
          }
        }
        .batta{
          position: absolute;
          bottom: 0;
          right: -120px;
          width: 100px;
          animation: 2s infinite batta;
          @keyframes batta{
            0%{
              transform: rotate(3deg);  
            }
            33%{
              transform: rotate(5deg);  
            }
            66%{
              transform: none;
            }
            100%{
              transform: rotate(3deg);  
            }
          }
          // outline: 2px solid red;
          @include tab{
            width: 70px;
            bottom: -50px;
            right: 20px;
          }
          @include sp{
            width: 50px;
            bottom: -10px;
          }
        }
        .text{
          padding: 20px;
          // outline: 2px solid blue;
          p{
            text-align: center;
            line-height: 3;
          }
        }
      }
      .new-parks{
        // outline: 6px solid blue;
        margin-bottom: 40px;
        .subtitle{
          margin-bottom: 80px;
          padding: 0 20px;
        }
        .park-container{
           position: relative;
          #park-contents{
            display: flex;
            margin-left: 110px;
            transition: .5s;
            // outline: 4px solid green;
            @include sp{
              margin-left: 0;  
            }
            li{
              position: relative;
              min-width: 360px;
              height: 256px;
              margin-right: 50px;
              border-radius: 10px;
              box-shadow: 3px 3px 6px $gray;
              transition: .3s;
              // outline: 2px solid black;
              a{
                // pointer-event: none;  
              }
              &:hover{
                opacity: .7;
                transition: .3s;
              }
              @include sp{
                min-width: 220px;
                height: 156px;
              }
              .park-image{
                height: 100%;
                img{
                  display: block;
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
              .park-name{
                position: absolute;
                bottom: 0;
                right: 0;
                min-width: 150px;
                padding: 5px;
                height: 28px;
                background: $orange;
                border-radius: 14px 0 0 14px;
                box-shadow: -5px -5px 5px 2px $white;
                // outline: 5px solid $white;
                // outline: 2px solid orange;
                h3{
                  padding: 0;
                  text-align-last: right;  
                }
              }
            }  
          }
          #park-contents.layout{
            justify-content: center;
          }
          #park-prev{
            position: absolute;
            top: 0;
            left: 0;
            width: 80px;
            height: 260px;
            background: $lightgray;
            border-radius: 0 10px 10px 0;
            opacity: 0.9;
            transition: .3s;
            cursor: pointer;
            // outline: 2px solid pink;
            &:hover{
              opacity: .7;
              transition: .3s;
            }
            @include sp{
              width: 40px;
              height: 160px;
            }
            span{
              position: absolute;
              top: 50%;
              left: 50%;
              display: block;
              width: 40px;
              height: 40px;
              border-left: 6px solid $brown;
              border-bottom: 6px solid $brown;
              border-radius: 6px;
              transform: translate(-50%,-50%) rotate(45deg);
            }
          }
          #park-prev.hidden{
            opacity: 0;
            pointer-events: none;
          }
          #park-next{
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 260px;
            background: $lightgray;
            border-radius: 10px 0 0 10px;
            opacity: 0.9;
            transition: .3s;
            cursor: pointer;
            // outline: 2px solid orange;
            &:hover{
              opacity: .7;
              transition: .3s;
            }
            @include sp{
              width: 40px;
              height: 160px;
            }
            span{
              position: absolute;
              top: 50%;
              left: 50%;
              display: block;
              width: 40px;
              height: 40px;
              border-top: 6px solid $brown;
              border-right: 6px solid $brown;
              border-radius: 6px;
              transform: translate(-50%,-50%) rotate(45deg);
            }
          }
          #park-next.hidden{
            opacity: 0;
            pointer-events: none;
          }
        }
        #park-nav{
          display: flex;
          justify-content: center;
          height: 120px;
          // outline: 2px solid blue;  
        }
        button{
          display: block;
          width: 16px;
          height: 16px;
          margin: 60px 12px 0;
          background: $white;
          border: 1px solid $orange;
          border-radius: 50%;
          cursor: pointer;
        }
        button.current{
          background: $orange; 
          transition: .3s;
        }
      }
      .popular-parks{
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
        @include sp{
          padding: 20px;  
        }
        .popular-parks-contents{
          width: 100%;
          max-width: 976px;
          margin: 0 auto 150px;
          // outline: 4px solid purple;
          .subtitle{
            margin-bottom: 80px;  
          }
          .ranking{
            display: flex;
            justify-content: space-between;
            width: 100%;
            @include sp{
              flex-direction: column;
              align-items: center;
            }
            li{
              width: 30%;
              max-width: 300px;
              height: auto;
              opacity: 0;
              transform: translateY(40px);
              // outline: 2px solid red;
              @include sp{
                max-width: none;
                width: 100%;
                margin-bottom: 12vw;
              }
              dt{
                margin-bottom: 15px;
                img{
                  display: block;
                  width: 60px;
                  margin: 0 auto;
                  @include sp{
                    width: 18%;  
                  }
                }
              }
              dd{
                margin-left: 0;
                .avg-rate{
                  display: flex;
                  justify-content: space-around;
                  .raty{
                    margin-bottom: 5px;
                    // outline: 2px solid red;
                    img{
                      width: 20px;
                      // outline: 2px solid blue;
                      @include sp{
                        width: 8vw;  
                      }
                    }
                  }
                  strong{
                    font-size: 1.25rem;
                    @include sp{
                      font-size: 8vw;  
                    }
                  }
                }
                .park-image{
                  position: relative;
                  box-shadow: 5px 5px 10px $gray;
                  transition: .3s;
                  // outline: 2px solid red;
                  &:hover{
                    opacity: .7;
                    transition: .3s;
                  }
                  img{
                    height: 214px;
                    object-fit: cover;
                    object-position: center;
                    // outline: 4px solid blue;
                    @include tab{
                      height: 20vw;
                    }
                    @include sp{
                      height: calc(70vw - 40px);  
                    }
                  }
                  .park-text{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    min-width: 120px;
                    padding: 5px;
                    background: $orange;
                    box-shadow: -3px -3px 6px $white;
                    border-radius: 15px 0 0 15px;
                    // outline: 4px solid green;
                    @include sp{
                      min-width: 50vw;  
                    }
                    h3{
                      text-align: right;
                      @include sp{
                        font-size: 8vw;  
                      }
                    }
                  }
                }
              }
            }
            li.appear{
              opacity: 1;
              transform: none;
              transition: 1s;  
            }
          }  
        }
      }
      .news{
        width: 100%;
        max-width: 640px;
        margin: 0 auto 200px;
        padding: 20px;
        box-sizing: border-box;
        // outline: 2px solid green;
        .subtitle{
          margin-bottom: 80px;  
        }
        ul{
          li{
            display: flex;
            border-bottom: 1px solid $gray;
            dt{
              padding-right: 40px;  
            }
            dd{
              margin-left: 0;
              // outline: 2px solid blue;
            }
          }  
        }
      }
    }
  }
  .contents{
    padding: 40px;
    @include sp{
      padding: 15px;  
    }
    .wrapper{
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 40px 40px;
      // background: $lightgreen;
      background: $skyblue;
      border-radius: 20px 0 0 0;
      box-sizing: border-box;
      // outline: 2px solid red;
      @include sp{
        padding: 0 5px 40px;  
      }
      section{
        box-sizing: border-box;
        & > div{
          border-radius: 20px 0 0 0;
        }
        div{
          box-sizing: border-box;
        }
      }
    //-----------
    // 会員側
    //-----------
      //新規会員登録,ログイン
      .login{
        .login-content{
          width: 100%;
          max-width: 480px;
          margin: 0 auto;
          padding: 40px;
          background: $white;
          // outline: 2px solid green;
          form{
            display: block;
            // width: 100%;
            // outline: 2px solid red;
            .field{
              width: 200px;
              margin: 0 auto 10px;
              label{
                font-size: 1.25rem;
              }
              input{
                width: 200px;
                font-size: 1.25rem;
              }
            }
            .remember{
              display: flex;
              // outline: 2px solid red;
              input{
                display: block;
                width: 15px;  
              }
            }
            .rule{
              width: 80%;
              margin: 0 auto;
              // max-width: 480px;
              // outline: 4px solid green;
              p{
                font-size: 1.25rem;  
              }
              .rule-box{
               width: 100%;
                // max-width: 480px;
                height: 120px;
                padding: 5px;
                border: 1px solid $gray;
                border-radius: 5px;
                overflow: scroll;
                p{
                  font-size: 1rem;  
                }  
                ol{
                  li{
                    list-style-type: decimal;
                  }    
                }
                dl{
                  dd{
                    margin-left: 0;
                  }
                }
              }
            }
            .agree{
              display: flex;  
              margin-top: 10px;
            }
            .actions{
              // outline: 2px solid orange;
              input{
                display: block;
                width: 200px;
                padding: 7px 0;
                margin: 20px auto; 
                // outline: 2px solid skyblue;  
              }
            }
          }
          .login-bottom{
            // outline: 2px solid purple;
            .page-link{
              float: right;
              color: $blue;
              // outline: 2px solid brown;
            }
          }
        }  
      }
      //マイページ
      .user{
        .user-show{
          width:400px;
          margin: 0 auto;
          padding: 20px;
          background: $white;
          // outline: 2px solid green;
          ul{
            margin-bottom: 40px;
            li{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 10px;
              h3,label{
                font-size: 1.25rem;
                font-weight: bold;
              }
              .text{
                font-size: 1.25rem;
                width: 200px;
              }
              img{
                // display: block;
                width: 120px;
                height: 120px;
                margin: 10px 0 20px;
                border-radius: 50%;
                // outline: 2px solid blue;
              }
            }
          }
        }
        .edit-button{
          display: flex;
          justify-content: flex-end;
        }
        .buttons{
          display: flex;
          justify-content: space-between;
        }
      }
      // ユーザー退会画面
      #user-confirm{
        .user-confirm{
          padding: 20px;
          background: $white;
          h2{
            margin-bottom: 20px;
            text-align: center;  
          }
          p{
            text-align: center;
            line-height: 3rem;
          }
          .buttons{
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
          }
        }
      }
      // 公園一覧
      #user-park-index{
        width: 100%;
        .user-park-index{
          display: flex;
          @include tab{
            flex-direction: column;  
          }
          .parks-sidebar{
            width: 25%;
            @include tab{
              width: 100%;  
            }
            h2{
              display: inline-block;
              width: 100%;
              max-width: 200px;
              padding: 5px 5px 5px 20px;
              // background: $orange;
              background: pink;
              border-radius: 20px 0 0 0;
              // outline: 2px solid red;
            }
            .sub-content{
              padding: 10px;
              background: $white;
              border-radius: 0 0 20px 0;
            }
            .search-form{
              margin-bottom: 40px;
              .sub-content{
                form{
                  input{
                    font-size: 1.125rem;  
                  }
                  .submit-button{
                  margin-top: 10px;  
                  }
                }  
              }
            }
            .tag-area{
              margin-bottom: 40px;
              // outline: 4px solid blue;
              input{
                font-size: 1.125rem;  
              }
              .destroy{
                position: relative;
                display: inline-block;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background: pink;
                box-shadow: 1px 1px $gray;
                &:active{
                  transform: translate(1px,1px);
                  box-shadow: none;
                }
                span{
                  position: absolute;
                  top: 6.5px;
                  left: 2.5px;
                  display: block;
                  width: 10px;
                  height: 2px;
                  background: $white;
                }
                span:first-of-type{
                  transform: rotate(-45deg);
                }
                span:last-of-type{
                  transform: rotate(45deg);
                }
              }
              .submit-button{
                margin-top: 10px;  
              }
              .sub-content{
                form{
                  margin-bottom: 20px;
                  ul{
                    display: flex;
                    flex-direction: column;
                    @include tab{
                      flex-direction: row;
                      flex-wrap: wrap;
                    }
                  }  
                }    
              }
            }
            .new-park{
              margin-bottom: 20px;
              // outline: 2px solid green;
              form{
                label,input,textarea{
                  font-size: 1.125rem;  
                }
                .submit-button{
                  margin-top: 10px;  
                }
              }
            }
          }
          .parks-list{
            width: 75%;
            margin-left: 40px;
            // outline: 2px solid orange;
            @include tab{
              width: 100%;
              margin-left: 0;
            }
            h2{
              display: inline-block;
              width: 100%;
              max-width: 200px;
              padding: 5px 5px 5px 20px; 
              // background: $skyblue;
              // background: $orange;
              background: pink;
              border-radius: 20px 0 0 0;
            }
            .sub-content{
              padding: 20px;
              background: $white;
              border-radius: 0 0 20px 0;
              @include sp{
                padding: 5px;  
              }
            }
            .sort{
              display: flex;
              margin-bottom: 10px;
              li{
                margin-right: 10px;
                a{
                  color: $blue;
                }
              }
            }
            p{
              margin-bottom: 10px;  
            }
            .parks{
              li{
                margin-bottom: 10px;
                border: 1px solid $gray;
                border-radius: 10px;
                transition: .3s;
                &:hover{
                  background: rgba(150,150,150, .2);
                  transition: .3s;
                }
                a{
                  display: flex;
                  padding: 10px;
                  .left{
                    width: 160px;
                    @include sp{
                      width: 25%;  
                    }
                    img{
                    width: 100%;
                    height: 120px;
                    object-fit: contain;
                    object-position: center;
                    vertical-align: bottom;
                    }       
                  }
                  .right{
                    width: calc(100% - 150px);
                    padding-left: 20px;
                    // outline: 2px solid green;
                    @include sp{
                      width: 75%;
                      padding-left: 10px;
                    }
                    .park-status{
                      display: flex;
                      h3{
                        padding-right: 20px;  
                      }
                      p{
                        display: inline-block;
                        padding: 3px;
                        background: $skyblue;
                        border-radius: 5px;
                      }
                    }
                    .avg-rate{
                      display: flex;
                      p{
                        padding-right: 10px;
                        span{
                          @include sp{
                            display: none;
                          }  
                        }
                        strong{
                          font-size: 1.125rem;  
                        }
                      }
                      .raty{
                        img{
                          width: 16px;  
                        }
                      }
                    }
                    .tag-space{
                      display: flex;
                      flex-wrap: wrap;
                      // outline: 2px solid red;
                      @include sp{
                        // display: none;  
                      }
                      span{
                        display: block;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        padding: 1px;
                        background: $lightgreen;
                        border-radius: 5px;
                      }
                    }
                  }
                }       
              }  
            }
          }
        }    
      }
      // 公園詳細・編集
      .user-park{
        .user-park-show{
          padding: 0 20px 40px;
          background: $white;
          // outline: 4px solid purple;
          @include sp{
            padding: 0 10px;  
          }
          .update{
            display: flex;
            justify-content: flex-end;
            input{
              margin-top: 40px;
              @include sp{
                margin-bottom: 40px;
              }
            }   
          }
          .average-rate{
            position: relative;
            height: 110px;
            margin-bottom: 20px;
            // outline: 2px solid red;
            span{
              display: block;
              position: absolute;
              top: 10px;
              left: 0;
              padding: 3px;
              background: $skyblue;
              border-radius: 5px;
              // outline: 2px solid green;
            }
            #average-raty{
              display: flex;
              justify-content: center;
              position: absolute;
              top: 0;
              left: 50%;
              width: 100%;
              margin: 0 auto;
              padding-top: 32px;
              transform: translateX(-50%);
              // outline: 2px solid blue;
              @include sp{
                top: 10px;  
              }
              img{
                width: 60px;
                height: 60px;
                // outline: 2px solid purple;
                @include tab{
                  width: 40px;
                  height: 40px;
                }
              }
            }
            p{
              position: absolute;
              bottom: 0;
              right: 10px;
              font-size: 1.125rem;
              line-height: 40px;
              // outline: 2px solid green;
              @include sp{
                line-height: 30px;
                font-size: .875rem;  
              }
              strong{
                font-size: 1.75rem;
                font-weight: bold;
                @include sp{
                  font-size: 1.5rem;  
                }
              }
            }
          }
          .park-title{
            padding-top: 20px;
            // outline: 2px solid red;
            h2{
              margin-bottom: 20px;
              text-align: center;
            }
          }
          .top-links{
            display: flex;
            justify-content: right;
            margin-bottom: 10px;
            a{
              margin-right: 10px;
            }
          }
          .field{
            width: 100%;
            max-width: 920px;
            margin: 0 auto 60px;
            font-size: 1.125rem;
            // outline: 6px solid green;
          }
          .basic-information{
            margin-bottom: 40px;
            // outline: 2px solid red;
            h2{
              margin-bottom: 20px;  
            }
            p{
              margin-bottom: 10px;  
            }
            .status-change{
              display: flex;
              margin-bottom: 10px;
              p{
                font-size: 1.125rem;
                margin-right: 40px;
              }
              .radios{
                display: flex;
                .radio{
                  margin-right: 20px;  
                }
              }
            }
            .park-status{
              margin-bottom: 20px;
              // outline: 2px solid blue;
              li{
                display: flex;
                margin-bottom: 10px;
                // outline: 2px solid green;
                label,input,textarea{
                  font-size: 1.125rem;
                }
                label{
                  width: 60px;
                  padding-right: 10px;
                }
                input{
                  width: 100%;
                  max-width: 200px;
                }
                textarea{
                  width: 100%;
                  max-width: 300px;
                }
              }
            }
            .sumbnail{
              margin-bottom: 20px;
              // outline: 4px solid green;
              h3{
                margin-bottom: 10px;  
              }
              .sumbnail-content{
                display: flex;
                .image{
                  margin-right: 10px;
                  img{
                    width: 100%;
                    border-radius: 10px;
                    max-width: 400px;
                    max-height: 300px;
                    object-fit: contain;
                    @include sp{
                      max-width: 300px;
                    }
                  }
                }
              }
            }
            .tag-area{
              display: flex;
              flex-wrap: wrap;
              .tag{
                display: block;
                padding: 5px;
                margin: 5px;
                border-radius: 5px;
                background: $lightgreen;  
              }
              .form-group{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 20px;
                // outline: 2px solid red;
              //   .form-check{
              //     margin-right: 5px;
              //     margin-bottom: 5px;
              //     outline: 2px solid blue;
              //     label{
              //       display: block;
              //       // width: 200px;
              //       height: 20px;
              //       padding: 5px;
              //       line-height: 20px;
              //       text-align: center;
              //       cursor: pointer;
              //       // outline: 4px solid orange;
              //       input[type='checkbox']{
              //         opacity: 0.2;
              //         outline: 2px solid green;
              //         &:checkd + label{
              //           background: red;
              //           color: red;
              //         }
              //       }
              //     }
              //   }
              }
            }
          }
          .map{
            padding-bottom: 40px;
            // outline: 4px solid red;
            #map{
              width: 100%;
              height: 400px;
              // outline: 2px solid black;
              @include sp{
                height: 300px; 
              }
            }
          }
        }
        .reviews{
          margin-top: 60px;
          // outline: 2px solid green;
          
          .review-title{
            position: relative;
            height: 80px;
            margin-bottom: 20px;
            a{
              position: absolute;
              bottom: 0;
              right: 0;
            }
          }
          .review-content{
            margin-bottom: 40px;
            .user-space{
              display: flex;
              margin-bottom: 20px;
              // outline: 2px solid red;
              .user-status{
                align-self: center;
                width: 25%;
                // outline: 2px solid brown;
                img{
                  display: block;
                  width: 100px;
                  height: 100px;
                  margin: 0 auto;
                  border-radius: 50%;
                  // outline: 2px solid blue;
                  @include sp{
                    width: 80%; 
                    max-width: 100px;
                    height: auto;
                  }
                }
                p{
                  text-align: center;  
                }
              }
              .user-review{
                width: 75%;
                // outline: 2px solid red;
                .voice{
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  position: relative;
                  width: 90%;
                  height: 100%;
                  margin-left: 20px;
                  padding: 5px;
                  background: $white;
                  // border: 2px solid blue;
                  border-radius: 10px;
                  &::before{
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: -30px;
                    border-right: 30px solid $white;
                    border-top: 20px solid transparent;
                    border-bottom: 10px solid transparent;
                    
                  }
                  // ５段階評価
                  .raty{
                    img{
                      width: 20px;  
                    }
                  }
                  .time{
                    text-align: right;
                  }
                  .link-button{
                    margin: 0 10px;
                  }
                }
              }
            }
          }
          .review-submit{
            display: flex;
            justify-content: flex-end;
            // outline: 2px solid red;
            form{
              display: flex;
              width: 100%;
              max-width: 500px;
              // outline: 4px solid green;
              @include sp{
                flex-direction: column;  
              }
              .form-content{
                width: 75%;
                max-width: 400px;
                // outline: 2px solid blue;
                @include sp{
                  width: 100%;  
                }
                textarea{
                  width: 95%;
                }
                .review-raty{
                  display: flex;
                    p{
                      padding-right: 20px;  
                    }
                  #post_raty{
                    // outline: 2px solid red;
                    img{
                      width: 20px;
                    }  
                  }  
                }
              }
              input[type='submit']{
                align-self: end;
                @include sp{
                  margin-top: 10px;
                  margin-bottom: 20px;
                }
              }
            }
          }
        }
      }
    //-----------
    // 管理者側
    //-----------  
      // 会員一覧
      #admin-index{
        .admin-index{
          table{
            width: 100%;
            background: $white;
            border-collapse: collapse;
            border-color: black; 
            th{
              padding: 10px;
              border: 1px solid $gray;
              background: pink;
            }
            tr{
              margin-bottom: 20px;
              border: 1px solid $gray;
              border-radius: 10px;
              
              td{
                text-align: center;
                border: 1px solid $gray;
                img{
                  width: 50px;  
                }         
              }
            }           
          }
        }
      }
      #admin-show{
        .admin-show{
          h2{
            display: inline-block;
            width: 200px;
            padding: 5px 5px 5px 20px;
            background: $orange;
            border-radius: 20px 0 0 0;
          }
          .user-information{
            margin-bottom: 40px;
            .user-detail{
              display: flex;
              align-items: center;
              padding: 10px;
              background: $white;
              border-radius: 0 0 20px 0;
              // outline: 2px solid red;
              @include sp{
                flex-direction: column;  
              }
              .user-id{
                width: 5%;
                // outline: 2px solid blue;
                @include sp{
                  width: 100%;
                  text-align: center;
                }
              }
              .user-image{
                display: flex;
                justify-content: center;
                width: 20%;
                // outline: 2px solid purple;
                @include sp{
                  width: 100%; 
                  margin-bottom: 20px;
                }
                img{
                  max-width: 100px;  
                }
              }
              .user-name{
                width: 40%;
                margin-bottom: 20px;
                // outline: 2px solid orange;
                @include sp{
                  width: 100%;  
                }
                p{
                  br{
                    @include sp{
                      display: none;  
                    }  
                  }
                }
              }
              .user-status{
                width: 35%;
                // outline: 2px solid green;
                @include sp{
                  width: 100%;  
                }
                form{
                  display: flex;
                  flex-direction: column;
                  box-sizing: border-box;
                  @include sp{
                    flex-direction: row;  
                    justify-content: space-around;
                  }
                  .radios{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                    .radio{
                      margin-right: 20px;
                    }
                  }
                  .radio-submit{
                    display: flex;
                    justify-content: center;
                    input{
                      display: block;
                      @include sp{
                        height: 30px;  
                      }
                    }
                  }
                }
              }
            }
          }
          .review-index{
            .user-reviews{
              padding: 10px;
              background: $white;
              ul{
                li{
                  padding: 10px;
                  border-bottom: 1px solid $gray;
                  // outline: 2px solid red;
                  .top{
                    display: flex;
                    @include sp{
                      flex-direction: column;  
                    }
                    div,h3,p{
                      padding-right: 10px;  
                    }
                    .raty{
                      img{
                        width: 16px;  
                      } 
                    }
                  }
                  .bottom{
                    display: flex;
                    justify-content: flex-end;
                    p{
                      padding-right: 20px;  
                    }
                  }

                }  
              }
            }  
          }
        }
      }
    }
  }
}
// to-topボタン
#to-top{
  position: fixed;
  // bottom: 210px;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  // outline: 2px solid brown;
  @include sp{
    right: 0;
  }
  .to-top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    // outline: 4px solid black;
    img{
      display: block;
      width: 80px;
      transition: .3s;
      // outline: 2px solid purple;
      &:hover{
        transform: scale(.97);
        transition: .3s;
      }
    }
    span{
      display: block;
      color: $orange;
      font-family: 'RocknRoll One', sans-serif;
      // outline: 2px solid red;
    }
    
  }
}
#to-top.scrolled{
  opacity: 1; 
  pointer-events: auto;
}
//----------------
// フッター
//----------------
footer{
  position: relative;
  margin-top: 180px;
  // outline: 4px solid blue;
  @include tab{
    margin-top: 155px;  
  }
  .bottom{
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150vw;
    height: 375px;
    object-position: center;
    border-radius: 50%;
    // outline: 2px solid red;
    @include tab{
      height: 300px;  
    }
    @include sp{
      height: 250px;  
    }
  }
  .img{
    position: absolute;
    width: 100px;
  }
  .tree1{
    width: 60px;
    bottom: 103%;
    right: 10%;
  }
  .tree2{
    width: 55px;
    bottom: 103%;
    right: 15%;
    @include sp{
      display: none;  
    }
  }
  .tree6{
    width: 50px;
    bottom: 103%;
    right: 20%;
    @include sp{
      display: none;  
    }
  }
  .mogura{
    width: 90px;
    top: -8%;
    left: 20%;
    animation: 1s infinite mogura;
    @keyframes mogura{
      0%{
        transform: none;  
      }
      50%{
        transform: scale(1.04);
      }
      100%{
        transform: none;  
      }
    }  
    @include sp{
      top: -12%;  
    }
  }
  .flower{
    width: 30px;
    bottom: 90%;
    left: 15%;
    @include sp{
      left: 10%;
    }
  }
  .kikyu{
    width: 100px;
    bottom: 120%;
    left: 10%;
    animation: 1s infinite kikyu;
    @keyframes kikyu{
      0%{
        transform: none;  
      }
      50%{
        transform: translateY(2px);
      }
      100%{
        transform: none;  
      }
    }  
    @include sp{
      top: -12%;  
    }
    @include sp{
      display: none;  
    }
  }
  .footer-contents{
    width: 100%;
    height: 400px;
    background: $brown;
    @include tab{
      height: 325px;
    }
    @include sp{
      height: 275px;
    }
    .footer-content{
      position: relative;
      width: 100%;
      height: 325px;
      // outline: 2px solid yellow;
      @include tab{
        height: 275px;  
      }
      @include sp{
        height: 225px;  
      }
      .footer-logo{
        position: absolute;
        bottom: 0;
        left: 30%;
        width: 100px;
        @include sp{
          bottom: 10px;
          left: 10%;
          width: 60px;  
        }
        img{
          border-radius: 50%;
        }
      }
      nav{
        position: absolute;
        bottom: 20px;
        right: 30%;
        // outline: 2px solid orange;
        @include sp{
          bottom: 10px;
        }
        ul{
          li{
            a{
              color: $white;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    small{
      display: block;
      padding: 10px 0;
      color: $white;
      text-align: center;
      // outline: 2px solid yellow;
    }
  }
}