/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require_tree .
 *= require_self
 */



//---------------
// 定義
//---------------
@charset "UTF-8";

// レスポンシブ 
$tab: 976px;
$sp: 660px;

@mixin tab{
  @media(max-width:($tab)){
    @content;
  }  
}
@mixin sp{
  @media(max-width:($sp)){
    @content;  
  }  
}

// 色
$white: #fff;
$brown: #7c4d25;
$lightgreen: #c9d439;
// $green: #9eb11e;
// $brown: #7c4d25;
$skyblue: #d6f4ff;
$orange: #faa61a;
$black: rgb(40,40,40);
$gray: rgb(150,150,150);

//---------------
// 共通
//---------------
body{
  margin: 0;
  font-size: 100%;
  overflow-x: hidden;

}
h1,h2,h3,p,ul{
  margin: 0;
}
h1{
  font-size: 3rem;
  text-align: center;
  transform: translateY(-180px);
  @include sp{
    font-size: 2.25rem;
    transform: translateY(-130px);
  }
}
ul,ol{
  margin: 0;
  padding-left: 0;
  li{
    list-style-position: inside;  
  }  
}
li{
  list-style: none;
}
a{
  text-decoration: none;  
}
img{
  width: 100%;
  vertical-align: bottom;
}
//---------------
// ヘッダー
//---------------
header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 150vw;
  height: 300px;
  border-radius: 50%;
  background: $white;
  transform: translate(-16.7%,-180px);
  @include tab{
    top: -20px;
  }
  @include sp{
    top: -40px;
    border-radius: 0;
  }
  .header-content{
    position: relative;
    width: 100%;
    height: 100%;
    // outline: 10px solid orange;
    .sun{
      position: absolute;
      top: 180px;
      left: calc(25vw + 40px);
      z-index: 10;
      width: 120px;  
      @include tab{
        top: 200px;
        left: calc(25vw + 20px);
        width: 90px; 
      }
      @include sp{
        top: 230px;
        left: calc(25vw + 10px);
        width: 60px;
      }
      img{
        transition: .3s;
        &:hover{
          transform: rotate(10deg);
          transition: .3s;
        }
      }
    }
    .logo{
      position: absolute;
      top: 180px;
      left: calc(75vw - 80px);
      z-index: 10;
      width: 160px;
      @include tab{
        top: 210px;
        left: calc(75vw - 50px);
        width: 100px;
      }
      img{
        border-radius: 50%;
        transition: .3s;
        // outline: 5px solid black;
        &:hover{
          transform: scale(1.05);
          transition: .3s;
        }
      }
    }
    .bird{
      position: absolute;
      top: 180px;
      right: calc(25vw + 40px);
      width: 120px;
      @include tab{
        top: 200px;
        right: calc(25vw + 20px);
        width: 90px;
      }
      @include sp{
        display: none;
      }
      img{
        transition: .3s;
        &:hover{
          transform: rotate(-10deg);
          transition: .3s;
        }
      }
    }
    .pc{
        position: absolute;
        top: 200px;
        left: calc(25vw + 200px);
        width: calc(66.7% - 400px);
        // outline: 6px solid blue;
        @include tab{
          top: 220px;
          left: calc(25vw + 120px);
          width: calc(66.7% - 240px);
        }
        @include sp{
          display: none;  
        }
      ul{
        display: flex;
        width: 100%;
        // outline: 4px solid green;
        li{
          position: absolute;
          top: 0;
          width: 100px;
          transition: .3s;
          // outline: 2px solid black;
          &:hover{
            transform: scale(1.075);
            transition: .3s;
          }
          @include tab{
            width: 90px;  
          }
          a{
            display: block;
            // outline: 2px solid red;
            .circle-btn{
              width: 70px;
              height: 70px;
              background: $orange;
              border-radius: 50% 70% 50% 80%;
              @include tab{
                width: 50px;
                height: 50px;
              }
            }
            p{
              position: absolute;
              top: 50%;
              left: 20%;
              display: block;
              font-family: 'RocknRoll One', sans-serif;
              font-size: 1.25rem;
              transform: translateY(-50%);
              // outline: 2px solid purple;
              // 後で削除
              @include tab{
                left: 10%;
                font-size: 1.125rem;
                color: blue;  
              }
              @include sp{
                color: red;  
              }
            }
          }
        }
        li:nth-of-type(n + 3){
          width: 120px;
          @include tab{
            width: 100px;  
          }
          .circle-btn{
            border-radius: 80% 50% 70% 50%;
          }
          p{
            left: 10%;
          }
        }
        li:first-of-type{
          left: 0;
          .circle-btn{
            background: $skyblue;  
          }  
        }
        li:nth-of-type(2){
          left: calc(20% - 10px);
          .circle-btn{
            background: $orange;  
          }  
        }
        li:nth-of-type(3){
          right: calc(20% - 15px);
          .circle-btn{
            background: pink;  
          }  
        }
        li:nth-of-type(4){
          right: -30px;
          .circle-btn{
            background: $lightgreen;  
          }  
        }
      } 
    }
    #hamburger{
      display: none;
      position: absolute;
      top: 230px;
      right: calc(25vw + 10px);
      z-index: 10;
      width: 48px;
      height: 60px;
      // border-radius: 50%;
      border-radius: 80% 80% 80% 80% / 100% 100% 65% 65%;
      border-top-color: red;
      cursor: pointer;
      box-shadow: 0 4px 8px gray;
      // outline: 4px solid red;
      @include sp{
        display: block;  
      }
      .hamburger{
        position: relative;
        width: 100%;
        height: 100%;
        span{
          position: absolute;
          left: 7.2px;
          width: 70%;
          height: 6px;
          border-radius: 3px;
          background: $brown;
          transition: .3s;
        }
        span:first-of-type{
          top: 15px;
        }
        span:nth-of-type(2){
          top: calc(50% - 3px);
        }
        span:last-of-type{
          bottom: 15px;
        }
      }
    }
    #hamburger.rotate{
      .hamburger{
        span:first-of-type{
          transform: translateY(12px) rotate(45deg);
          transition: .3s;
        }
        span:nth-of-type(2){
          opacity: 0;
          transition: .3s;
        }
        span:last-of-type{
          transform: translateY(-12px) rotate(-45deg);
          transition: .3s;
        }
      }
    }
    .sp{
      display: none;
      position: absolute;
      top: -100px;
      left: calc(25vw);
      width: 100vw;
      background: $white;
      transition: .3s;
      outline: 4px solid red;
      @include sp{
        display: block;  
      }
      ul{
        li{
          a{
            padding: 30px;
            font-size: 2.5rem;
            font-family: 'RocknRoll One', sans-serif;
          }
        }
      }
    }
    .sp.slide{
      transform: translateY(400px);
      transition: .3s;
    }
  }
}

//------------------
// メイン
//------------------
main{
  // overflow: hidden;
  .title{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    outline: 2px solid black;
    @include sp{
      height: 300px;  
    }
    img{
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .contents{
    padding: 40px;
    @include sp{
      padding: 15px;  
    }
    .wrapper{
      max-width: 1080px;  
      margin: 0 auto;
      padding-bottom: 20px;
      background: $lightgreen;
      border-radius: 20px 0 0 0;
      // outline: 2px solid red;
      section{
        border: 2px solid black;
        border-radius: 20px;
        margin: -50px 40px 40px;
        // background: white;
        @include tab{
          margin: -50px 20px 20px;  
        }
        @include sp{
          margin: -50px 0 20px;  
        }
      }
    //-----------
    // 会員側
    //-----------
      //新規会員登録,ログイン
      .login{
        .login-content{
          width: 100%;
          max-width: 480px;
          margin: 0 auto;
          padding: 40px;
          outline: 2px solid green;
          form{
            .field{
              width: 200px;
              margin: 0 auto 10px;
              label{
                font-size: 1.25rem;
              }
              input{
                width: 200px;
                font-size: 1.25rem;
              }
              // outline: 2px solid blue;
            }
            .rule{
              // outline: 2px solid green;
              p{
                font-size: 1.25rem;  
              }
              ol{
                width: 480px;
                height: 120px;
                padding: 5px;
                border: 2px solid black;
                border-radius: 5px;
                overflow: scroll;
                li{
                  list-style-type: decimal;
                }    
              }
            }
            .actions{
              outline: 2px solid orange;
              input{
                display: block;
                width: 200px;
                padding: 5px 0;
                margin: 20px auto; 
                cursor: pointer;
                outline: 2px solid skyblue;  
              }
            }
          }
          .login-bottom{
            outline: 2px solid purple;
            .page-link{
              float: right;
              outline: 2px solid brown;;
            }
          }
        }  
      }
      //マイページ
      .user{
        .user-show{
          width:400px;
          margin: 0 auto;
          outline: 2px solid green;
          ul{
            li{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 10px;
              h3,label{
                font-size: 1.25rem;
                font-weight: bold;
              }
              .text{
                font-size: 1.25rem;
                width: 200px;
              }
              img{
                // display: block;
                width: 120px;
                height: 120px;
                margin: 5px;
                border-radius: 50%;
                outline: 2px solid blue;
              }
            }
            
          }
          
        }
      }
      // 公園一覧
      #user-park-index{
        .user-park-index{
          display: flex;
          @include tab{
            flex-direction: column;  
          }
          .parks-sidebar{
            width: 25%;
            @include tab{
              width: 100%;  
            }
            h2{
              display: inline-block;
              padding: 5px 30px 5px 5px;
              background: $orange;
              border-radius: 20px 0 0 0;
              // outline: 2px solid red;
            }
            .sub-content{
              padding: 10px;
              background: $white;
              border-radius: 0 0 20px 0;
            }
            .search-form{
              margin-bottom: 40px;
              .sub-content{
                form{
                  input{
                    font-size: 1.125rem;  
                  }  
                }  
              }
            }
            .tag-area{
              margin-bottom: 40px;
              // outline: 4px solid blue;
              .sub-content{
                form{
                  ul{
                    display: flex;
                    flex-direction: column;
                    @include tab{
                      flex-direction: row;
                      flex-wrap: wrap;
                    }
                  }  
                }    
              }
            }
          }
          .parks-list{
            width: 75%;
            margin-left: 40px;
            // outline: 2px solid orange;
            @include tab{
              width: 100%;
              margin-left: 0;
            }
            h2{
              display: inline-block;
              padding: 5px 30px 5px 5px; 
              background: $skyblue;
              border-radius: 20px 0 0 0;
            }
            .sub-content{
              padding: 20px;
              background: $white;
              border-radius: 0 0 20px 0;
              @include sp{
                padding: 5px;  
              }
            }
            .new-park{
              margin-bottom: 20px;
              outline: 2px solid green;
              form{
                label,input,textarea{
                  font-size: 1.125rem;  
                }
              }
            }
            .sort{
              display: flex;
              li{
                margin-right: 10px;
                a{
                  
                }
              }
            }
            .parks{
              li{
                margin-bottom: 10px;
                border: 1px solid $gray;
                border-radius: 10px;
                transition: .3s;
                &:hover{
                  background: rgba(150,150,150, .2);
                  transition: .3s;
                }
                a{
                  display: flex;
                  padding: 10px;
                  .left{
                    width: 160px;
                    @include sp{
                      width: 25%;  
                    }
                    img{
                    width: 100%;
                    height: 120px;
                    object-fit: contain;
                    object-position: center;
                    vertical-align: bottom;
                    }       
                  }
                  .right{
                    width: calc(100% - 150px);
                    padding-left: 20px;
                    // outline: 2px solid green;
                    @include sp{
                      width: 75%;
                      padding-left: 10px;
                    }
                    .avg-rate{
                      display: flex;
                      p{
                        padding-right: 10px;
                        span{
                          @include sp{
                            display: none;  
                          }  
                        }
                        strong{
                          font-size: 1.125rem;  
                        }
                      }
                      .raty{
                        img{
                          width: 16px;  
                        }
                      }
                    }
                  }
                }       
              }  
            }
          }
        }    
      }
      // 公園詳細・編集
      .user-park{
        .user-park-show{
          outline: 4px solid purple;
          #average-raty{
            img{
              width: 40px;
              height: 40px;
            }
          }
          .top-image{
            display: flex;
            justify-content: center;
            outline: 4px solid green;
            img{
              width: 100%;
              max-width: 400px;
              @include sp{
                max-width: 300px;
              }
            }
          }
          #map{
            width: 100%;
            // max-width: 600px;
            height: 400px;
            outline: 5px solid black;;
          }
          .reviews{
            outline: 2px solid green;
            img{
              width: 100px;  
            }
            // ５段階評価
            .raty{
              img{
                width: 20px;  
              }
            }
          }
          #post_raty{
            img{
              width: 20px;
            }  
          }
        }  
      }
    //-----------
    // 管理者側
    //-----------  
      // 会員一覧
      #admin-index{
        .admin-index{
          table{
            width: 100%;
            border-collapse: collapse;
            border-color: black; 
            th{
              border: 2px solid black;
            }
            tr{
              margin-bottom: 20px;
              border: 2px solid black;
              border-radius: 10px;
              
              td{
                text-align: center;
                border: 2px solid black;
                img{
                  width: 50px;  
                }         
              }
            }           
          }
        }
      }
      #admin-show{
          img{
            width: 100px;  
          }
        }
    }
  }
}
// to-topボタン
#to-top{
  position: fixed;
  // bottom: 210px;
  bottom: 30px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transition: .3s;
  pointer-events: none;
  // outline: 2px solid brown;
  .to-top-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    // outline: 4px solid black;
    img{
      display: block;
      width: 80px;
      // outline: 2px solid purple;
    }
    span{
      display: block;
      color: lightgreen;
      // outline: 2px solid red;
    }
    
  }
}
#to-top.scrolled{
  opacity: 1; 
  pointer-events: auto;
}
//----------------
// フッター
//----------------
footer{
  position: relative;
  margin-top: 180px;
  // overflow: hidden;
  // outline: 4px solid blue;
  @include tab{
    margin-top: 155px;  
  }
  .bottom{
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150vw;
    height: 400px;
    // object-fit: cover;
    object-position: center;
    border-radius: 50%;
    // transform: translate(-16.7%,150px);
    // outline: 2px solid red;
    @include tab{
      height: 300px;  
    }
  }
  .footer-contents{
    width: 100%;
    height: 425px;
    background: $brown;
    @include tab{
      height: 325px;
    }
    nav{
      width: 100%;
      height: 320px;
      @include tab{
        height: 275px;  
      }
    }
    small{
      display: block;
      padding: 10px 0;
      color: $white;
      text-align: center;
      // outline: 2px solid yellow;
    }
  }
}