<h1>退会確認画面</h1>
<h2>#public::user#confirm</h2>
<section id="user-confirm">
    <div class="user-confirm">
        <h2>本当に退会しますか</h2>
        <p>
            退会すると公園の新規投稿・レビュー・編集ができなくなります。<br>
            退会する場合は、「退会するをクリックしてください」
        </p>
        <%= link_to '退会しない',user_path(current_user) %>
        <%= link_to '退会する',users_withdraw_path,method: :patch, "data-confirm" => "本当に退会しますか？" %>
    </div>
</section>